<div class="example-container" >
<mat-toolbar color="primary">
  <span class="fill-remaining-space"> Angular Tutorial</span>
  
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav opened mode="side">
    
    <mat-nav-list>
      <a mat-list-item routerLink='/directives' routerLinkActive="active-list-item">Привязки данных</a>
      <a mat-list-item routerLink='/directives-type' routerLinkActive="active-list-item">Виды привязок данных</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav mode="side" position="end">End content</mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

</div>
